<?php

$rules = [
    '@Symfony'                     => true,
    'binary_operator_spaces'       => [
        'operators'    => [
            '=>' => 'align',
        ],
    ],
    'blank_line_after_opening_tag' => false, // <?php declare(strict_types=1);
    'linebreak_after_opening_tag'  => false, // <?php declare(strict_types=1);
    'single_quote'                 => true,
    'yoda_style'                   => true,
    'no_empty_phpdoc'              => true,
    'no_extra_blank_lines'         => true,
    'phpdoc_align'                 => true,
    'phpdoc_trim'                  => true,
    'increment_style'              => ['style' => 'post'],
    'no_superfluous_phpdoc_tags'   => true,
    'declare_strict_types'         => true,
];

$finder = PhpCsFixer\Finder::create()
    ->in('src')
    ->in('tests');

return PhpCsFixer\Config::create()
    ->setFinder($finder)
    ->setRiskyAllowed(true)
    ->setRules($rules)
    ->setUsingCache(true);
